:root {
    --cor-fundo-frase: #ff4e6d;
    --cor-texto-frase: #ffffff;
    --cor-fundo-imagens: #7870a7;
    --cor-fundo-tempo: #ffffff;
    --cor-texto-nomes: #333;
    --cor-texto-tempojuntos: #ff4e6d;
  }