body {
    font-family: 'Zain', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.container {
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.card {
    background-color: #7870a7;
    overflow: hidden;
}
.slider {
    position: relative;
    width: 100vh;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    max-width: 100%; 
}
.slide {
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 20px;
}
.slide.active {
    opacity: 1;
}
.tempo-namoro {
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin-bottom: 0; 
}
h2 {
    margin-top: 0;
    color: #333;
}
#tempo {
    font-size: 1.6em;
    color: #666;
}
.frase-amor {
    padding: 20px;
    text-align: center;
    background-color: #ff4e6d;
    margin-top: 0; 
}
.frase-amor p {
    font-size: 1.5em;
    font-style: italic;
}
.coracao {
    position: fixed;
    font-size: 20px;
    color: red;
    opacity: 0;
    z-index: 9999;
    animation: subir 3s linear;
}
@keyframes subir {
    0% {
        transform: translateY(100vh) scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh) scale(1);
        opacity: 0;
    }
}
#verCoracoes {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ffddee;
    color: rgb(82, 6, 6);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Zain', sans-serif;
}
#verCoracoes:hover {
    color: #f03456;
    background-color: #792050;
}
@media (min-width: 768px) {
    #tempo br {
        display: none;
    }
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.footer-left, .footer-right {
    flex: 1;
    min-width: 250px;
}
.footer-left {
    text-align: left;
}
.footer-left a {
    color: #ffd700;
    text-decoration: none;
}
.footer-left a:hover {
    color: #a97d05;
}
.social-icons {
    margin-top: 10px;
}
.social-icons a {
    color: #ffd700;
    margin-right: 10px;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}
.social-icons a:hover {
    color: #a97d05;
}
.footer-right {
    text-align: right;
}
.footer-right a {
    color: #ffd700;
    text-decoration: none;
    transition: color 0.3s ease;
}
.footer-right a:hover {
    color: #a97d05;
}
@media (max-width: 768px) {
    .footer-left, .footer-right {
        text-align: center;
        flex: 1 0 100%;
    }
    .footer-right {
        margin-top: 20px;
    }
}